body {
    background-color: #bbddff;
    margin: auto;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.header table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
}

.header-table img {
}

.header-nav th, .header-nav td {
    border-left: #bbddff solid 1px;
    border-right: #bbddff solid 1px;
    width: auto;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

.header-nav-row {
    width: 100%;
    background-color: #000066;
    margin: 0;
}

.header {
    position: relative;
    text-align: center;
    width: 100%;
}

.footer {
    background-color: #000066;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
}

.header-nav {
    background-color: #000066;
    width: 100%;
}

.slate {
    background-color: #BEDDDD;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: solid black 1px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    .header-table img {
        height: 137px;
        width: 120px;
    }
}

