body {
    background-color: #bbddff;
    margin: auto;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.header table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
}

.header-table img {
    width: 20%;
    float: right;
}

.header-nav th, td {
    border: #bbddff solid 1px;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

.header {
    position: relative;
    text-align: center;
}

.footer {
    background-color: #000066;
    color: #FFFFFF;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header-nav {
    background-color: #000066;
    width: 100%;
}

.slate {
    background-color: #BEDDDD;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: solid black 1px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    .header-table img {
        width: 100px;
        float: right;
    }
}

