#records-table th, td {
    border: black solid 1px;
    padding: 1%;
}

#records-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8FFB0;
    width: 90%;
}

#top-5 th, td {
    border: black solid 1px;
    padding: 1%;
}

#top-5 table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8FFB0;
    width: 90%;
}

#top-5 tr:nth-child(5n+1) {font-weight: bold}

@media print {
    body * {
        visibility: hidden;
    }

    .slate * {
        visibility: visible;
    }

    .slate {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 0;
    }

    .header * {
        display: none;
    }

    .footer * {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #records-table * {
        font-size: 7px;
    }
    #top-5-records-table * {
        font-size: 5px;
    }
    #top-5-records-table {
        width: 50%;
    }
}