.top-5 {
    padding: 1%;
    text-align: center;
    vertical-align: top;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.top-5 table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    border: 1px black solid;
    background-color: #F8FFB0;
}


.top-5 table td, .top-5 table th {
    border: 1px black solid;
    text-align: center;
}

.top-5 tr:nth-child(5n+1) {font-weight: bold}

#records-nav {
    padding: 1%;
    border: 1px black solid;
    background-color: #F8FFB0;
    margin-left: auto;
    margin-right: auto;
}

#records-nav a {
    padding-left: 5px;
    padding-right: 5px;
}

#top-5-school {
    width: 92%;
    display: inline-block !important;
}

#top-5-program {
    width: 92%;
    display: inline-block !important;
}

#top-5-relays {
    width: 92%;
    display: inline-block !important;
}


@media print {
    body * {
        visibility: hidden;
    }

    .slate * {
        visibility: visible;
    }

    .slate {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 0;
    }

    .header * {
        display: none;
    }

    .footer * {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .top-5 * {
        font-size: 7px;
    }
    .top {
        width: 50%;
    }
}