.senior-table th, .senior-table td {
    border: none;
    padding: 0;
    vertical-align: top;
    width: 50%;
}

.senior-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#girls, #boys {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    vertical-align: top;
    padding: 0;
}

#girls td, #boys td {
    width: 5%;
    vertical-align: top;
    border: black 1px solid;
    background-color: #F8FFB0 !important;
}

#girls {
    margin-right: 3%;
}

#boys {
    margin-left: 3%;
}