.roster-table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #F8FFB0;
    border: 1px black solid;
}

.roster-table td {
    border: 1px black solid;
}

.meet-table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #F8FFB0;
    border: 1px black solid;
}

.meet-table td {
    border: 1px black solid;
}

.slate-body td {
    vertical-align: top;
}

.roster-table td {
  display: table-cell;
}

.meet-table td {
  display: table-cell;
}

.slate {
    position: relative;
}

@media screen and (max-width: 600px) {
    #user-settings {
        top: 100px;
    }
}

#user-settings {
    position: absolute;
    top: 0;
    right: 5%;
    margin: 0;
}