#meet-information {
    border: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

.entries-table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}