#meet-information {
    border: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

.entries-table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.slate {
    position: relative;
}

#user-settings {
    position: absolute;
    top: 0;
    right: 5%;
}

#return-to-AD {
    position: absolute;
    top: 16px;
    left: 5%;
}