.swimmer-information {
    background-color: #F8FFB0;
    border: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.times-table, #attendance-table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-collapse: collapse;
}

#attendance-table {
    border: 1px black solid;
}

#attendance-table td {
    border: 1px black solid;
}

.slate {
    position: relative;
}

#user-settings {
    position: absolute;
    top: 0;
    right: 5%;
}

#return {
    position: absolute;
    top: 16px;
    left: 5%;
}

@media screen and (max-width: 600px) {
    #user-settings {
        position: relative !important;
        right: 0 !important;
    }
    .swimmer-information {
        width: 95%;
    }
    .times-table {
        width: 95%;
    }
}