.swimmer-information {
    background-color: #F8FFB0;
    border: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.times-table {
    margin-left: auto;
    margin-right: auto;
}